<!-- "master html file" -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">     <!--Intègre les règles-->
    {% block head %}{% endblock %}  <!-- dans les autres fichiers html, on a juste à recopier ça, et mettre ce qu'on veut entre, et ce pout toutes les pages -->
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>