{% extends "public_template.html" %}

{% block title %}Home{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Home</h1>
    </div>
  </div>
</div>

<p>
  les valeurs : <span id="value"></span>
</p>



<!-- <div id="container" class="container"></div> -->
<table id="tab" class="tab"></table>
<input type="text" name="autre_valeur" id="autre_valeur" class="input_text", placeholder="other name">
<div id="container" class="container">
  <button class="btn btn-primary" id="submit" onclick="submit_message();">Submit message</button>
<!-- </div>
<div> -->
  <br>
  <button class="btn btn-primary" id="delete" onclick="delete_message();">Delete words</button>
</div>

<br>

<img id="ima" clas="wo_ima" src="/static/people_photo/chat.jpg" alt />

<!-- <div class=demo_fluid>
  <a id="a_ima" href="/static/people_photo/chat.jpg" data-fluidbox class="col-1">
    <img id="ima" src="/static/people_photo/chat.jpg" alt /img></a>
    <div class="fluidbox__ghost" style="width: 100; height: 100; top: 100; left: 100;"></div>
</div>


<div id="canvas-holder" style="width:40%">
  <canvas id="chart-area"></canvas>
</div> -->


{% endblock %}




