{% extends "public_template.html" %}

{% block title %}Home{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Home</h1>
    </div>
  </div>
</div>

<p>
  les valeurs : <span id="value"></span>
</p>


<fieldset class="table">
  <legend>Salut !</legend>
<div id="container"></div>
<input type="text" name="autre_valeur" id="autre_valeur" , placeholder="other name">
<div>
  <button class="btn btn-primary" id="submit" onclick="submit_message();">Submit message</button>
</div>
<div>
  <button class="btn btn-primary" id="delete" onclick="delete_message();">Delete words</button>
</div>
</fieldset>

<br>

<img id="imElem" src="" alt="User Image">

<table>
    <tr>
      <td>The table header</td>
    </tr>
    <tr>
      <td>The table body</td>
      <td>with two columns</td>
    </tr>
</table>

{% endblock %}




