
{% extends "base.html" %}

{% block content %}

    <main>
        <h1 class="title">
            Statistics
        </h1>

        <table id="tab" class="table center-table"></table>

        <h1 class="title">Global statistics</h1>
        <table class="table center-table">
            <tr>
                <td>Total answers : </td>
                <td><span id="total" class="total">0</span></td>
            </tr>
            <tr>
                <td>Total flags : </td>
                <td><span id="nflag" class="nflag">0</span></td>
            </tr>
            <tr>
                <td>Number of new words : </td>
                <td><span id="newWords" class="newWords">0</span></td>
            </tr>
            <tr>
                <td>Number of checked words : </td>
                <td><span id="checkedWords" class="checkedWords">...</span></td>
            </tr>
        </table>
    </main>


    <!-- Import Bootstrap bundle -->
    <script>
        var API_path = "{{ config['SECRET_KEY']| tojson }}"; // TO MODIFY
        console.log(API_path);

        async function getData(path) {
                let response = await fetch(path, {
                    method: "GET",
                    credentials: "include",
                    cache: "no-cache",
                    headers: new Headers({
                        "content-type": "application/json",
                        'Access-Control-Allow-Origin': '*',
                        'Access-Control-Allow-Credentials': true
                    })
                })
                let data = await response.json();
                return data;
            }


        async function prepareWords(path) {

            var data = await getData(path);
            var allNames = data['names'];
            var full_tab = ``;
            var total = 0;
            var nFlag = 0;
            var nImage = allNames.length;
            var nVariance = -nImage;
            var nChecked = 0;

            full_tab += `<tr class="th_tr">`;
            full_tab += `<th colspan="1"><b>Image</b></th>`
            full_tab += `<th colspan="1"><b>Name image</b></th>`
            full_tab += `<th colspan="1"><b># Answers</b></th>`
            full_tab += `<th colspan="10"><b>Variances</b></th>`
            full_tab += `</tr>`;
            for (var name of allNames) {
                full_tab += `<tr>`;
                var path_i = "/static/dictionary/" + name +".jpg";
                // var path_i = "https://drive.switch.ch/index.php/apps/files/?dir=/dictionary2&fileid=2626002808#/files_mediaviewer/" + name +".jpg";
                full_tab += `<td style="width: 150px;"><img id="${name}" class="${name}" src=${path_i} alt /></td>`;
                // full_tab += `<td><img id="ima" class="wo_ima" src="/static/people_photo/chat.jpg" alt /></td>`;

                full_tab += `<td><p class="texte">${name}</p></td>`;
                full_tab += `<td><p class="texte">${data[name]['nb_ans']}</p></td>`;
                total += data[name]['nb_ans'];

                var taille = data[name]['variance'].length;
                for (var num of Array(taille).keys()) {
                    nVariance += 1;
                    nChecked += data[name]['scores'][num]-1;
                    full_tab += `<td>`;
                    full_tab += `<p class="alignleft">(${data[name]['scores'][num]})`;
                    if (data[name]['flag'][num] > 0) {
                        full_tab += `<span class="flagg"> / (${data[name]['flag'][num]}) </span>`;
                        nFlag += data[name]['flag'][num];
                    }
                    full_tab += `</p>`;
                    full_tab += `<p class="texte aligncenter">`
                    full_tab += `${data[name]['variance'][num]}  `;
                    if (data[name]['flag'][num] > 0) {
                        full_tab += `<p class="alignright"><button id="${name}" class="${name}" value="${data[name]['variance'][num]}"><i class="fa fa-trash"></i></button></p>`
                    }
                    full_tab += `</p>`;

                    full_tab += `</td>`;
                }
                // full_tab += `<td><p class="alignleft">gauche</p><p class="aligncenter">center</p><p class="aligndroite">droite</p></td>`

                full_tab += `</tr>`;
            }
            $('#tab').append(full_tab);
            $("button").on("click", function () {
                name_button = this.id;
                name_var.push(this.value);
                delete_word(API_path + `delete`, this.id);
            });

            flaggedWords = [];

            $('#total').text(total);
            $('#nflag').text(nFlag);
            $('#newWords').text(nVariance);
            $('#checkedWords').text(nChecked);

        }

        var name_button = "";
        var name_var = [];
        path = API_path + `alldata`;
        prepareWords(path);

        async function delete_message(path_del, word) {


                var entry = {
                    name: name_button,
                    selwords: name_var,
                };

                console.debug(entry);

                fetch(path_del, {
                    method: "POST",
                    credentials: "include",
                    body: JSON.stringify(entry),
                    cache: "no-cache",
                    headers: new Headers({
                        "content-type": "application/json"
                    })
                })
                    .then(function (response) {
                        console.log('Response:', response)
                        if (response.status !== 200) {
                            console.log(`Looks like there was a problem. Status code: ${response.status}`);
                            return;
                        }
                        response.json().then(function (data) {
                            console.log(data);
                        });
                    })
                    .catch(function (error) {
                        console.log("Fetch error: " + error);
                    });

            }

    </script>

    <style>

        .table {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            background-color: rgb(226, 226, 226);
        }

        .center-table td {
            text-align: center;
            vertical-align: middle;
            border: 1px solid #aaa;
        }

        .texte {
            font-family: "Times New Roman", Times, serif;
            font-size: large;
            font-weight: bold ;
        }

        .center {
            margin-left:auto;
            margin-right:auto;
        }


        .center-table th {
            background-color: bisque;
            text-align: center;
            vertical-align: middle;
            border: 1px solid #aaa;
        }


        span.flagg {
            color: #f00;
        }

        .alignleft {
            float: left;
            text-align:left;
            width:20%;
        }
        .aligncenter {
            float: left;
            text-align:center;
            width:60%;
        }
        .alignright {
            float: left;
            text-align:right;
            width:20%;
        }

    </style>

{% endblock %}